node_modules
**/node_modules
.next
**/.next
dist
**/dist
.env*
**/.env*
*.pem
**/*.pem
*.key
**/*.key
*.dump
**/*.dump
*.sql
**/*.sql
.git
.git/**
logs
**/logs
*.log
**/*.log
.terraform
**/.terraform
terraform
**/terraform
*.tf
**/*.tf
*.tfstate
**/*.tfstate
*.tfstate.*
**/*.tfstate.*
*.tfvars
**/*.tfvars